@using Microsoft.AspNetCore.Identity;
@using NickCollege.Areas.Identity.Data;
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    foreach (var user in Model)
    {
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@user.FirstName @user.LastName</h5>
    </div>
    <div class="card-footer">
        <form method="POST"
              asp-area="" asp-controller="CourseInfoe" asp-action="Index">
            <input type="submit" />
        </form>
        <form method="POST"
              asp-area="" asp-controller="Sections" asp-action="Index">
            <input type="submit" />
        </form>
    </div>
</div>
    }
}
else
{

    <div class="card-header">
        No users created yet
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a user
        </h5>
        <a class="btn btn-primary" style="width:auto"
           id="register" asp-area="Identity" asp-page="/Account/Register">
            Register
            Add new user
        </a>
    </div>

}
