@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome Leap Frog!</h2>
    <h3>Please login with the username and password that was given to you by an administrator.</h3>
    <img src="https://i.pinimg.com/736x/83/db/b9/83dbb9337eb4732b654bdcc1d2c28f22.jpg"></a>
</div>
