@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h2>Scope</h2>

<p>All financial and administrative policies involving community members across campus are within the scope of this policy. If there is variance between departmental expectations and the common approach described through college policy, the college will look to the campus community to support the spirit and the objectives of college policy.</p>


<h2>Policy</h2>

<h4>Website</h4>

<h4>What we collect and why</h4>

<p>Nicholas University (NU) collects information from individuals or entities when they access any NU website.  Information that is collected from this contact is the contactor’s IP address, date and time of the website access along with the web pages(s) visited.  In addition, NU may also collect any information that it receives from your web browser, including browser type and version, and operating system.  This information helps us understand aggregate uses of our site, track usage trends and improve our services.</p>

<h4>Cookies</h4>

<p>Although you will spend a great deal learning about cookies with in class, these cookies are different and not edible. Computer cookies (please don't open the computer to see if they are in there) are pieces of data that many websites transfer to users’ web browsers to enable the site to deliver personalized services or to provide persistent authentication. The information contained in a cookie typically includes information collected automatically by the web server and/or information provided voluntarily by the user.  Our website uses persistent cookies in conjunction with a third party technology partner to analyze search engine usage and web traffic patterns. This information is used in the aggregate to monitor and enhance our web pages. It is not used to track the usage patterns of individual users.</p>

<h4>Security</h4>

    <p>At NU, we employ parents to safegaurd you. Your parent might be monitoring the halls or watching you play on the playground. We encourage our students to not do anything they wouldn't do at home. NU also employs armed veteran&#8217s to safeguard against all enemies, foreign and domestic; which also includes ghosts and goblins.</p>

    <h4>Sharing your information</h4>

    <p>We will not share your information with third parties except:</p>

    <p>as required by law;</p>
    <p>as necessary to protect Institute interests;</p>


    <h4>Links to other websites</h4>

    <p>NU’s website may contain links to other websites not affiliated with the college. NU is not responsible for the privacy practices of these other sites. We encourage you to read the privacy statements of other sites for assurance that their practices safeguard your privacy.</p>

    <h4>Legal Notice</h4>

    <p>Notwithstanding any language to the contrary, nothing contained herein constitutes nor is intended to constitute an offer, inducement, promise, or contract of any kind. The data contained herein is for informational purposes only and is not represented to be error free. Any links to non-CC information are provided as a courtesy. They are not intended to nor do they constitute an endorsement by Colorado College of the linked materials.</p>

   

