@model ResultSetViewModel

<h2>Student view page</h2>
<h1>Course test</h1>
<table style="border:solid 2px;">
    <tr>
        <td>
            @Model.CourseVM.CourseName
            @* @Html.DisplayFor(model => model.CourseVM.CourseName)*@
        </td>
    </tr>
</table>
<h2>Section test</h2>
<table style="border:solid 2px;">
    <tr>
        <td>
            @Model.SectionVM.Location
            @*@Html.DisplayFor(model => model.SectionVM.Location)*@
        </td>
    </tr>
</table>